.stage_form {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage_form .circle_right {
  width: 191px;
  height: 191px;
  background: var(--lineaire_blue);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 20%;
  transform: translate(20%, 0);
}
.stage_form.hero_stage.hero_medicament {
  background-image: none !important;
  height: auto !important;
  width: auto !important;
}
.stage_form.hero_stage.hero_medicament .dropdown_title {
  font-size: 14px !important;
  width: 210px;
}
.stage_form.hero_stage.hero_medicament .dropdown_stage .menu {
  width: 210px !important;
}
.stage_form.hero_stage.hero_medicament .dropdown_stage.lg .menu,
.stage_form.hero_stage.hero_medicament .dropdown_stage.lg .dropdown_title {
  width: 250px !important;
}
.stage_form.hero_stage.hero_medicament .dropdown_stage.sm .menu,
.stage_form.hero_stage.hero_medicament .dropdown_stage.sm .dropdown_title {
  width: 100px !important;
}
.stage_form.hero_stage.hero_medicament .dropdown_stage.sm .dropdown_title {
  padding: 0 0.75rem;
}
.stage_form.hero_stage.hero_medicament .dropdown_stage .menu .item {
  font-size: 14px !important;
}
.stage_form .item_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stage_form .item_dropdown.lg p {
  max-width: 250px !important;
}

.stage_form .item_dropdown p {
  margin: 0.5rem 0;
  font-size: 16px;
  color: #046489;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
  max-width: 210px;
}
.stage_form .dropdown_stage {
  margin: 0 !important;
}
.stage_form .form_dropwdown {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 975px;
  padding: 4rem 2rem;
  border: 1px solid #dbdbdb;
  background: #fcfcfc;
  transition: background ease-in 0.2s;
}
.fixed_stage_form .row {
  transition: background ease-in 0.2s;
}
.stage_form .form_dropwdown.locked,
.fixed_stage_form .row {
  background: rgba(252, 252, 250, 0.5);
  transition: background ease-in 0.2s;
}
.stage_form .stage_input {
  height: 50px;
  width: 270px;
  background: white;
  border: 1px solid #046489;
  border-radius: 5px;
}
.stage_form .stage_input input {
  color: #046489;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.stage_form .stage_input input:focus {
  color: #046489;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.stage_form .stage_input input::placeholder {
  color: rgba(4, 100, 137, 0.5);
  font-size: 14px;
  font-weight: 500;
}
.stage_form .confirmed_btn.button {
  opacity: 1 !important;
  background: #14909e;
}
@media (max-width: 999px) {
  .stage_form .circle_right {
    display: none;
  }
  .fixed_stage_form.sidebar_dons.blue {
    display: flex !important;
  }
  .stage_form .form_dropwdown {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    width: 600px;
  }
  .stage_form .item_dropdown {
    margin: 1rem 0;
    align-items: center;
  }
  .fixed_stage_form .row {
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    padding: 2rem 1rem;
    max-width: 600px !important;
  }
  .fixed_stage_form .circle_right {
    display: none;
  }
  .stage_cv {
    flex-direction: column;
  }
  .stage_cv .upload {
    flex-direction: column;
    align-items: flex-start;
    height: auto !important;
    margin: 0 2rem !important;
  }
}
@media (max-width: 699px) {
  .stage_form .form_dropwdown,
  .fixed_stage_form .row {
    width: auto !important;
    padding: 2rem 2rem;
  }
}
