.doctor_info {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  transform: translate(0%, -8rem);
  margin: 0 4rem;
}
.doctor_info h1 {
  margin: 0;
}
.doctor_info .header_part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.doctor_info .doctor_img {
  width: 180px !important;
  height: 180px !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border: 2px solid #046489;
  border-radius: 4px;
  background: #f9fcfc;
}
.doctor_info .info_doc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding-top: 2rem;
}
.doctor_info .info_doc h4 {
  margin: 0;
}
.doctor_info .info_doc .text_with_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.doctor_info .info_doc .text_with_icon .icon {
  color: var(--lighter-bleu);
  margin-right: 0.75rem;
}
.doctor_info .info_doc .text_with_icon .icon.user {
  font-family: outline-icons;
}
.doctor_info .info_doc .text_with_icon .icon.phone {
  transform: rotate(90deg);
}
.doctor_info .info_doc .text_with_icon.mar {
  margin: 1.5rem 0;
}
.doctor_info .info_doc .text_with_icon h1 {
  font-size: 24px;
  font-weight: 700;
}
.doctor_info .info_doc .text_with_icon h4 {
  font-size: 18px;
  font-weight: 600;
}
.doctor_info .info_doc .phones {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.doctor_info .info_doc .phones h4 {
  margin: 0.25rem 0;
}
.doctor_info .header_part .label_part {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #046489;
  margin: 0 2rem;
  font-weight: 600;
}
.doctor_info .header_part .label_part p {
  padding: 0.5rem;
  background: #f5f5f5;
  border-radius: 4px;
  margin: 0 0.75rem;
}
.other_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0;
}
.other_info h1 {
  color: #046489;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  white-space: nowrap;
}

.other_info p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-weight: 500;
  margin: 0.5rem 0 !important;
}
.other_info .title {
  height: 4px;
  width: 47px;
  background: #13c2d4;
}
.exp_doc_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0.75rem;
  margin: 0.75rem 0;
}
.other_info h3 {
  font-size: 14px;
  color: #555555;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
}
.exp_doc_info .image {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.exp_doc_info .image img {
  width: 100%;
  height: 100%;
}
.exp_doc_info .other_info p {
  margin: 0 !important;
  font-size: 14px;
}
.exp_doc_info .other_info h1 {
  font-size: 16px;
}
.doctor_info .header_part .label_part p,
.doctor_info .info_doc .text_with_icon h1 {
  white-space: nowrap;
}
.mobile_more,
.only_mobile {
  display: none;
  width: 100%;
  align-items: center;
}
.mobile_more {
  align-items: flex-start !important;
}
.only_mobile .action_doctor_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordion_dons .content {
  padding: 0 !important;
}
.action_doctor_btn .button:hover,
.action_doctor_btn .button:focus {
  color: white;
  background: #13c2d4;
}
@media (max-width: 999px) {
  .action_doctor_btn .button {
    margin: 0 !important;
  }
  .mobile_more {
    margin: 0 1rem;
  }
  .doctor_info .accordion_dons {
    width: auto !important;
  }
  .doctor_info {
    padding: 0 !important;
    margin: 0 1rem !important;
    transform: translate(0%, -5rem);
  }
  .interface_doctor .row {
    width: 100% !important;
  }
  .action_doctor_btn {
    width: 100% !important;
  }

  .doctor_info .doctor_img {
    width: 137px !important;
    height: 137px !important;
  }
  .interface_doctor .row {
    margin: 1rem 0 !important;
  }
  .mobile_more,
  .only_mobile {
    display: flex;
    flex-direction: column;
  }
  .doctor_info .header_part .label_part {
    margin: 0 1rem;
  }
}
.doctor_info .accordion {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 70%;
}
.doctor_info .accordion .content.opened {
  max-height: 535px;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}
.doctor_info .accordion .content.closed {
  max-height: 0;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}
.doctor_info .accordion .title {
  display: flex;
  justify-content: center;
}
@media (max-width: 1541px) {
  ._calender_all {
    width: 90%;
  }
  .interface_doctor .row {
    width: 40%;
  }
  .interface_doctor .row.calender {
    width: 60%;
  }
}
@media (max-width: 1399px) {
  .doctor_info {
    padding: 0rem;
  }
}
@media (max-width: 1299px) {
  .interface_doctor .row {
    width: 30% !important;
  }
  .interface_doctor .row.calender {
    width: 70% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ._calender_all {
    width: 80%;
  }
}
@media (max-width: 1230px) {
  .interface_doctor .row .input {
    display: none;
  }
  .interface_doctor {
    flex-direction: column;
    padding: 0 4rem;
  }
}
@media (max-width: 999px) {
  .interface_doctor .row.calender {
    display: none;
  }
  .interface_doctor .row {
    width: 100% !important;
  }
  .interface_doctor {
    padding: 0 0.5rem;
  }
}
