.fixed_stage_form {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  position: relative;
}
.form_btn_stage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drops_stage .fields {
  display: flex;
  flex-direction: column !important;
}
.drops_stage .fields .tesdeg {
  position: absolute;
  right: 10%;
  top: 58%;
}

.form_btn_stage .button p {
  visibility: hidden;
}
.form_btn_stage .button svg {
  transform: rotate(-90deg);
}
.form_btn_stage .button:hover {
  background: #14909e;
  color: white;
}
.form_btn_stage.flex {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  padding-bottom: 0;
}
.form_btn_stage.flex .icon {
  color: var(--red);
  font-size: 1.6rem;
}
.form_btn_stage p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin: 0 0.5rem;
}
.form_btn_stage .button {
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #13c2d4;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 2rem 0;
}
.fixed_stage_form .row {
  display: flex;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem 2rem;
  font-size: 14px;
  color: #046489;
  font-weight: 700;
  width: 100%;
  background: #fcfcfc;
  position: relative;
  z-index: 20;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 10px 0 rgba(4, 105, 141, 0.16);
}
.fixed_stage_form .row .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.fixed_stage_form .title_best_doc {
  padding: 0.5rem 0 !important;
}
.fixed_stage_form .title_best_doc p {
  font-size: 18px !important;
}
.fixed_stage_form .type_content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.fixed_stage_form .type_content .checkbox {
  margin: 0.5rem 0;
}
.fixed_stage_form .type_content .button,
.fixed_stage_form .type_content .react-datepicker__input-container button {
  background: #13c2d4 !important;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  width: 190px;
  height: 40px;
  margin: 0.5rem 0;
  font-weight: 400;
  cursor: pointer;
}
.fixed_stage_form
  .type_content
  .react-datepicker__input-container
  .example-custom-input.disabled {
  opacity: 0.45 !important;
  cursor: default !important;
}
.fixed_stage_form.sidebar_dons.blue {
  height: auto !important;
  position: relative;
  max-height: max-content !important;
  min-height: min-content !important;
  width: auto !important;
  padding: 0 !important;
  margin-bottom: 2rem;
  margin-top: 0rem;
  display: flex;
  box-shadow: none;
  border: none;
  justify-content: flex-start;
  align-items: flex-start;
}
.fixed_stage_form .ui.form .field {
  margin: 0;
}

.fixed_stage_form .circle_right {
  background: var(--lineaire_darker_bleu);
  height: 277px;
  width: 277px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 15;
  transform: translate(40%, 40%);
}
.fixed_stage_form {
  position: relative;
}
.fixed_stage_form .circle_left_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 277px;
  height: 277px;
  border-radius: 50%;
  background-color: rgba(19, 194, 212, 0.39);
  transform: translate(-80%, -50%);
}
.drops_stage .fields .dropdown .menu .item .text,
.drops_stage .fields .dropdown.selection .text {
  color: #04698d !important;
  font-size: 14px !important;
}
.drops_stage .fields .multiple.selection.dropdown a {
  font-size: 12px !important;
  padding: 0.25rem 0.5rem;
}
.drops_stage .fields .multiple.selection.dropdown {
  max-width: 230px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.stage_cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.stage_cv .upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 0 4rem;
}
.stage_cv .upload .input_btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
.stage_cv .upload .input_btn label {
  background: #fcfcfc;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 6px 0 rgba(4, 105, 141, 0.16);
  border-radius: 4px;
}
.stage_cv .upload .input_btn label .icon {
  color: var(--bleu_darker);
}
.stage_cv .action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 70px;
}
.stage_cv .action.err {
  margin: 0 2rem;
}
.stage_cv .action.err p {
  font-size: 14px;
  font-weight: 600;
}
.stage_cv .action h3 {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  color: var(--bleu_darker);
}
.stage_cv .action p {
  white-space: nowrap;
  margin: 0;
  color: var(--gray_light);
}
