.hero_stage.hero_medicament {
  background-image: url("../../assets/stage_hero.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_stage.hero_medicament .button {
  width: 270px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: #13c2d4;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 2rem 0;
}
.hero_stage.hero_medicament .button:hover {
  background: #14909e;
}
.hero_stage.hero_medicament .button svg {
  transform: rotate(-90deg);
}
.hero_stage.hero_medicament .button p {
  visibility: hidden;
}
.hero_stage.hero_medicament .contents .texts p {
  font-size: 14px;
  font-family: "Po  ppins", sans-serif;
  font-weight: 400;
}
.hero_stage.hero_medicament .contents .texts {
  max-width: 600px;
}
.hero_stage.hero_medicament .contents .hero_ann {
  width: 326px !important;
  background-size: cover !important;
}
.hero_stage.hero_medicament .contents {
  position: relative;
}
.hero_stage.hero_medicament .plus_title {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20%;
  right: 50%;
}
.hero_stage.hero_medicament .plus_title .up {
  width: 20px;
  background: rgba(255, 255, 255, 0.14);
  height: 100%;
  z-index: 10;
  left: 30%;
  top: 0;
  position: absolute;
}
.hero_stage.hero_medicament .plus_title .down {
  width: 100%;
  background: rgba(255, 255, 255, 0.14);
  height: 20px;
  top: 30%;
  left: 0;
  z-index: 5;
  position: absolute;
}
.hero_stage.hero_medicament .dropdown_stage > i {
  display: none !important;
}
.hero_stage.hero_medicament .dropdown_stage {
  margin: 2rem 0;
}
.hero_stage.hero_medicament .dropdown_stage .menu {
  width: 272px;
  top: 100% !important;
  z-index: 30;
  position: absolute;
}
.hero_stage.hero_medicament .dropdown_stage.active .dropdown_title {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.hero_stage.hero_medicament .dropdown_stage .menu .item {
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  background: white;
  padding: 0 2rem;
  color: #046489;
  border-bottom: 1px solid rgba(4, 105, 141, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.dropdown_title {
  height: 50px;
  width: 272px;
  background: white;
  border: 1px solid #046489;
  border-radius: 5px;
  padding: 0 2rem;
  color: #046489;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.dropdown_title > p {
  visibility: hidden;
}
.dropdown_title path {
  stroke: #046489;
}
@media (max-width: 999px) {
  .hero_ann {
    display: none;
  }
  .hero_stage.hero_medicament .plus_title {
    right: 0 !important;
  }
}
@media (max-width: 699px) {
  .hero_stage.hero_medicament .contents .texts {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 499px) {
  .hero_stage.hero_medicament .contents .texts {
    max-width: 300px;
  }
}
