.blood_annonce {
  padding: 2rem;
  background: white;
  position: relative;
  display: flex;
  z-index: 10;
  align-items: flex-start;
  width: 100%;
}
.table_blood {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2rem;
  width: 100%;
}
.blood_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blood_filter ._checkbox {
  display: flex;
  align-items: center;
}
.blood_filter ._checkbox .checkbox {
  margin: 0 1rem;
}
.blood_annonce .grid {
  padding: 4rem 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.blood_annonce .grid .column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  width: 310px !important;
}
.blood_filter .button {
  border-radius: 21px;
  background: #fb2828;
  font-size: 14px;
  color: white !important;
  padding: 0.8 rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blood_filter .button .icon {
  background: transparent !important;
  color: white;
}
.blood_filter .button:hover {
  background: #fb2828;
  color: white;
}
.filter_mobile_blood {
  display: none;
}
.blood_filter .button {
  white-space: nowrap !important;
}
.sidebar_dons .type_content {
  width: auto;
}
.blood_annonce .grid {
  justify-content: flex-start;
}
@media (max-width: 999px) {
  .sidebar_dons .type_content {
    width: 100%;
  }
  .blood_annonce.sidebar_dons {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .blood_annonce .grid {
    display: flex;
    justify-content: center !important;
  }

  .filter_mobile_blood {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .blood_annonce .grid {
    padding: 0rem 0;
    padding-bottom: 4rem;
  }
}
