.home {
  position: relative;
  height: 100vh;
  background: var(--lineaire_green);
  z-index: 20;
}
.card_don.other .image {
  margin: 1rem 0 !important;
}
.home > .home_img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: url("../../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.previous_arrow,
.next_arrow {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.previous_arrow {
  left: 2%;
  transform: rotate(90deg);
}
.next_arrow {
  right: 2%;
  transform: rotate(-90deg);
}
.home > .home_img.blur {
  filter: blur(3px);
}
