.interface_doctor {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.interface_doctor .row {
  width: 50%;
  margin: 0 2rem;
}
.interface_doctor .row .input {
  width: 80%;
  padding: 2rem 0;
}
@media (max-width: 999px) {
  .interface_doctor .row.calender {
    display: none;
  }
}
