._home_header > .navbar > .home_action .blue {
  color: var(--bleu_darker) !important;
  min-width: max-content;
}
._home_header.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
._home_header.x {
  position: sticky;
  top: 0;
  z-index: 30;
  min-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
}
._home_header.x.no_sticky {
  position: relative !important;
}

.toggle_action_md.fill svg path {
  stroke: var(--lighter-bleu);
}
._home_header > .navbar {
  width: 100%;
}
._home_header > .navbar > .coords_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._home_header > .navbar > svg {
  width: 160px;
  height: 60px;
  min-width: max-content;
}
._home_header > .navbar > .coords_list li {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--bleu_darker);
  font-family: "Poppins", sans-serif;
}
._home_header > .navbar > .coords_list.not_header li,
._home_header > .navbar > .coords_list.not_header li .icon {
  color: white;
}
._home_header > .navbar > .coords_list li .icon {
  font-size: 1.4rem;
  color: var(--lighter-bleu);
  margin: 0 0.75rem;
}
._home_header > .navbar > .coords_list li .icon.phone {
  transform: rotate(90deg);
}
._home_header > .navbar > .home_action {
  min-width: max-content;
}
._home_header > .navbar > .home_action.login .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--lighter-bleu);
  margin: 0 2rem;
  margin-right: 0;
}
._home_header > .navbar > .home_action.login svg {
  width: 30px;
  margin: 0 2rem;
  height: 30px;
}
@media (max-width: 1399px) {
  .coords_list {
    visibility: hidden;
  }
  .toggle_action_md.not_home {
    display: flex !important;
  }
}
@media (max-width: 999px) {
  ._home_header.mobile {
    display: none !important;
  }
  ._home_header .toggle_action_md {
    display: flex !important;
  }
  .home_action .icon,
  .home_action p,
  .home_action a {
    display: none !important;
  }
}
@media (max-width: 799px) {
  .coords_list {
    display: none !important;
  }
}
