.slider_profile {
  padding: 4rem 2rem;
}
.arrows_profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 999px) {
  .slider_profile {
    padding: 0;
  }
}
