.sidebar_general {
  position: fixed;
  z-index: 100;
  left: -500px;
  top: 0;
  padding: 2rem 4rem;
  background: rgb(19, 194, 212);
  color: white;
  font-size: 20px;
  height: 100%;
  transition: all 0.3s ease-in;
  font-family: "Raleway", sans-serif;
}
.sidebar_general.visible {
  left: 0 !important;
  transition: all 0.3s ease-in;
  width: 100%;
}
.sidebar_general ul {
  padding: 0;
  margin: 0;
  padding-top: 4rem;
  width: 100%;
}
.sidebar_general a {
  color: white;
  font-family: "Raleway", sans-serif;
}
.sidebar_general ul li {
  margin: 2rem 0;
}
.sidebar_general .icon.times {
  position: absolute;
  right: 12px;
  top: 16px;
}
.sidebar_general .list_drp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}
.sidebar_general .list_drp a {
  margin: 0.75rem 0;
  font-size: 16px;
}
