._hero_section {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 rem;
}
._hero_section .info {
  width: 40%;
  margin: 0 4rem;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
._rtl {
  direction: rtl !important;
}
.info._rtl h1 {
  text-align: right !important;
}
.my_hero.arabe {
  flex-direction: row-reverse !important;
}
._hero_section .info h1 {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  text-align: left;
  color: white;
}
._hero_section .info b {
  font-weight: 700;
  color: white;
}
._hero_section .info p {
  max-width: 500px;
  text-align: left;
  color: white;
}
._hero_section .info .hero_btn {
  background: var(--lighter-bleu);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 400;
  margin: 1rem 0;
  padding: 1.2rem 2.5rem;
}
._hero_section .info .hero_btn .icon {
  background: transparent !important;
}
.slick-prev,
.slick-next {
  position: absolute !important;
  cursor: pointer !important;
  z-index: 10 !important;
}
.slick-prev {
  left: 5% !important;
}
.slick-next {
  right: 5% !important;
}
.hero_img {
  width: 547px;
  height: 752px;
  position: absolute !important;
  bottom: 0;
  right: 8rem;
}
.hero_img.arabe {
  right: auto !important;
  left: 8rem;
}
._hero_section .slick-slider,
._hero_section .slick-list,
._hero_section .slick-track,
._hero_section .slick-slide,
._hero_section {
  height: 100% !important;
}
.my_hero {
  display: flex !important;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 8rem;
}
._hero_section .slick-slide > div {
  height: 100%;
}

/* Dots */
._hero_section .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

._hero_section .slick-dots {
  display: flex !important;
  position: absolute;
  bottom: 10%;
  display: block;
  width: 100%;
  left: 10%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
._hero_section .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
._hero_section .slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 10px;
  height: 10px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
._hero_section .slick-dots li button:hover,
._hero_section .slick-dots li button:focus {
  outline: none;
}
._hero_section .slick-dots li button:hover:before,
._hero_section .slick-dots li button:focus:before {
  opacity: 1;
}
._hero_section .slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._hero_section .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* Custom Slick Dots */

._hero_section .ft-slick__dots--custom {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 0 1rem;
  position: relative;
}

._hero_section .slick-dots li {
  width: 14px;
  margin: 0 10px;
  transition: width 0.3s ease-in-out;
}

._hero_section .slick-dots .slick-active {
  width: 56px;
  transition: width 0.3s ease-in-out;
}

._hero_section .slick-dots .slick-active .ft-slick__dots--custom {
  width: 60px;
  border-radius: 24px;
  top: 0px;
  background: transparent;
  border: 2px solid white;
  overflow: hidden;
  margin: 0 1rem;
}
